body {
    font-family: 'Inconsolata', monospace;
    color:white;
}
.other_input {
    background-color: cornflowerblue;
}
.blue_white_gradient {
    background-image: linear-gradient(to bottom right, rgb(0, 119, 255) 30%, white);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.r {
    text-align: right;
    float:right;
}
#opal {
    font-size: 2.5em;
}
.red {
    color: red;
}
#exit {
    color:lightgrey;
    background-color: transparent;
    padding:0;
    border-radius: 50%;
    border: 1px solid lightgrey;
    width:25px;
    height:25px;
    position: relative;
}