@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

@font-face {
    font-family: 'Minecraft';
    src: url(Minecraft.ttf);
}

body {
    color:white;
}
body, .inconsolata {
    font-family: 'Inconsolata', monospace;
}

#user-table.inconsolata #settings>tr>td {
    font-size: 13px;
}
.other_input {
    background-color: cornflowerblue;
}
.blue_white_gradient {
    background-image: linear-gradient(to bottom right, rgb(0, 119, 255) 30%, white);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.r {
    text-align: right;
    float:right;
}
#opal {
    font-size: 2.2em;
}
.red {
    color: red;
}
#exit {
    color:lightgrey;
    background-color: transparent;
    padding:0;
    border-radius: 50%;
    border: 1px solid lightgrey;
    width:25px;
    height:25px;
    position: relative;
}
a {
    text-decoration: none;
    color: orange;
}
a.offOrange {
    color: rgb(163, 131, 72);
}
.orange {
    color: orange;
}
.minecraft {
    font-family: 'Minecraft', 'Inconsolata', monospace;
    font-size: 0.7em;
}
.kablammo {
    font-family: 'Kablammo', 'Inconsolata', monospace;
    font-size: 0.7em;
}
::-webkit-scrollbar {
    display: none;
}